/*stili per il layout fluido*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 76%;
}

div#container {
}

/*stili generici, su header e footer*/
div#header {
    background-color: #36C;
    color: #ff0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 10px;
    font: bold italic 2.3em / 80px arial, sans-serif;
    color: #fff;
}

h2 {
    color: #69f;
    font-size: 1.5em
}

div#footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline
}

/*stili specifici per il layout*/
div#navigation {
    float: left;
    width: 160px;\width:170px;w\idth:160px;padding:
    1em 0 0 10px
}

div#extra {
    float: right;
    width: 160px;\width:170px;w\idth:160px;;padding:
    1em 5px
}

div#content {
    /*margin: 0 170px;*/
	margin-left: 170px;
    padding: 1em 10px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
}

div#footer {
    clear: both;
    text-align: center;
    padding: 5px 0;
    background-color: #69c;
    color: #000
}

/*stili per la navigazione*/
div#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

div#navigation li {
    margin: 0;
    padding: 0
}

div#navigation a {
    color: #369;
    font: normal bold 1.2em / 1.4em arial, sans-serif;
    text-decoration: none
}

div#navigation a:hover {
    color: #033;
    text-decoration: underline
}

div#navigation a#activelink {
    color: #033;
    text-decoration: none
}

div#navigation p {
    font-size: 90%
}

/*stili per la sezione extra*/
div#extra div.newsbox {
    font-size: 90%;
    margin-bottom: 2em
}

div#extra div.newsbox h2 {
    color: #999;
    font-size: 1.2em
}

div#extra div.newsbox p {
    margin: 0
}

/*stili tasto download*/ 
#download-rl {
    width: 440px;
    height: 125px;
    background: url(../img/download-btn.gif) no-repeat;
    display: block;
    left: 0;
    bottom: 0;
} #download-rl h2 {
    font-size: 26px;
    font-weight: normal;
    letter-spacing: -1px;
} #download-rl h2 a {
    text-decoration: none;
    color: #000;
    background: url(../img/download-btn.gif) no-repeat;
    padding: 9px 0 13px 76px;
    display: block;
} #download-rl h2 a:hover {
    background-position: 0 -250px;
} #download-rl h2 a:active {
    background-position: 0 -500px;
} #download-rl h2 a span {
    font-size: 13px;
    letter-spacing: 0;
    margin-left: 2px;
    display: block;
} #download-rl ul {
    font-size: 1.1em;
    margin: 7px 10px;
    list-style: none;
} #download-rl li {
    padding-right: 0px;
    border-right: 1px solid #aaa;
    margin-right: 5px;
    display: inline;
} #download-rl li.tar-file {
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
}
